<div ng-controller="navBarController">
	<a href="#/register" ><img class=" AppleWhite" ng-src="../img/rocketIoT.png" ng-click="resetButtonUnclicked()" style="width: 200px; height: 100px"></img></a>
	<img id="quizOne" class=" AppleWhite" ng-src="../img/white_dot.png" style="width: 100px; height: 100px"></img>
	<img id="quizTwo" class=" AppleWhite" ng-src="../img/white_dot.png"  style="width: 100px; height: 100px" ></img>
	<img id="quizThree" class=" AppleWhite" ng-src="../img/white_dot.png"  style="width: 100px; height: 100px" ></img>
	<img id="quizFour" class="AppleWhite" ng-src="../img/white_dot.png" style="width: 100px; height: 100px" ></img>
	<img id="quizFive" class=" AppleWhite" ng-src="../img/white_dot.png"  style="width: 100px; height: 100px" ></img>
	<img id="quizSix" class="AppleWhite" ng-src="../img/white_dot.png"  style="width: 100px; height: 100px" ></img>
    <img id="quizSeven" class=" AppleWhite" ng-src="../img/white_dot.png" style="width: 100px; height: 100px" ></img>
</div>